@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import 'tailwindcss';

@theme {
    --color-gold-500: hsl(39, 89%, 49%);
    --color-gold-600: hsl(28, 76%, 44%);
    --color-blue-500: hsl(230, 89%, 62%);
    --color-blue-700: hsl(229, 64%, 46%);
    --color-red-600: hsl(349, 71%, 52%);
    --color-red-800: hsl(347, 75%, 35%);
    --color-purple-600: hsl(261, 73%, 60%);
    --color-purple-700: hsl(261, 51%, 44%);
    --color-lightblue-400: hsl(189, 59%, 53%);
    --color-lightblue-500: hsl(194, 58%, 42%);
    --color-navy-900: hsl(229, 25%, 31%);
    --color-gray-600: hsl(246, 11%, 37%);
    --inset-shadow-choose-btn: inset 0px 4px 2px 2px #0000003b;
    --inset-shadow-testing: inset 0px -6px 0px 0px #00000040;
    --breakpoint-sm: 375px;
    --breakpoint-md: 640px;
}


html,
body,
#root {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 48%, 15%));
    font-family: "Barlow Semi Condensed", sans-serif;
    line-height: 1.2;
}

#root {
    height: 100dvh;
}

svg {
    pointer-events: none;
}

button {
    cursor: pointer
}

.outer-shadow {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1 /1;
    position: absolute;
    top: -8px;
    left: 0;
    box-shadow: 0 8px 0 0 #0000003b;
    pointer-events: none;
}


.rings {
    position: relative;
    outline: 150px solid #ffffff05;
    border-radius: 50%;
}

.rings::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    border: 30px solid white;
    top: 0;
    left: 0;
    transform: scale(1.8);
    opacity: 2%
}

.rings::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    border: 33px solid white;
    top: 0;
    left: 0;
    transform: scale(1.36);
    opacity: 3%
}